*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.card{
    width: 32%; 
    height: 450px;  
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.immagini{
    width: 100%;
    position: relative;
}

span .testo:first-of-type{
    font-size: 0.8;
}

span .testo:nth-last-of-type(2){
    font-size: 1.5;
    font-weight: bold;
}

span .testo:last-of-type{
    color: red;
}

.show,.hide{
    width: 100%;
}

.hide{
    display: none;
}

.immagini:hover .show{
    display: none;
}

.immagini:hover  .hide{
    display: inline;
}

.heart{
    position: absolute;
    right: 0px;
    top: 10px;
    background-color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    padding-top: 2px;
}

.riga{
    position: absolute;
    left: 0;
    bottom: 20px;
}

span .box:first-child{
    color: white;
    background-color: #EB0037;
    padding: 3px;
    font-size: 60%;
}

span .box:nth-child(2){
    color: white;
    background-color:#23875A;
    padding: 3px;
    font-size: 60%;
}
